/* TABLE OF CONTENTS 
 *
 * GLOBAL............Globally available and shared variables.
 *
 * TYPOGRAPHY........font faces, weights, line heights, sizes, styles for headings and body text.
 * 
 * MODULES...........styles that manage page layouts and segments, including grids.
 * 
 *
 * COMPONENTS
 * Forms.............styles for form controls and labels.
 * Buttons...........styles for primary, secondary, etc. buttons.
 * Icons.............styles for icons.
 *
 */





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  box-sizing: border-box;
}

:root {
  --black-color: #060709;
  --red-color: #ed1b24;
  --yellow-color: #ffcd2e;
}

.wrapper {
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-break {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vw;
}




/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.827em;
}


h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
}

p {

}

a {

}





/*------------------------------------*\
  #MODULES
\*------------------------------------*/

/* FLEXBOX */

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-half,
.flex-fourth {
  flex: 1 0 100%;
}

@media only screen and (min-width: 768px) {
  .flex-half {
    flex: 1 0 47%;
    width: 47%;
  }
  .flex-fourth {
    flex: 0 0 24%;
    width: 24%;
  }
}

/* NAVIGATION */

header {
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.nav-logo {
  width: 280px;
  height: 148px;
}

.nav-links {
  list-style-type: none;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .nav-links li {
    display: inline-block;
  }

  .nav-links a {
    color: #fff;
  }
}

/* HEADER */

.homepage-header {
  position: relative;
  background: #9d9d9d;
  padding-top: 180px;
  padding-bottom: 60px;
}

/* ABOUT */

.about {
  position: relative;
}

/* SERVICES */

.services {
  background: var(--black-color);
}

/* LOCATIONS */

.locations {

}

/* REVIEWS */

.reviews {
  position: relative;
  background: var(--black-color);
}

/* ESTIMATE */

.estimate {
  position: relative;
  background: #cc0000;
}





/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* FORMS */

/* BUTTONS */

/* ICONS */