/* TABLE OF CONTENTS 
 *
 * GLOBAL............Globally available variables.
 *
 * TYPOGRAPHY........font faces, weights, line heights, sizes, styles for headings and body text.
 * 
 * SHARED............shared variable
 * 
 * HELPER............Helper classes
 *
 * COMPONENTS
 * Forms.............styles for form controls and labels.
 * Buttons...........styles for primary, secondary, etc. buttons.
 * Icons.............styles for icons.
 *
 * MODULES...........styles that manage page layouts and segments, including grids.
 * 
 *
 */





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  box-sizing: border-box;
}

:root {
  --black-color: #060709;
  --red-color: #ed1b24;
  --dark-red-color: #d00000;
  --dark-orange-color: #f3582a;
  --light-orange-color: #f8922d;
  --yellow-color: #ffcd2e;
  --light-gray-color: #c5c5c5;
  --dark-gray-color: #616161;
}

.wrapper {
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}





/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: var(--black-color);
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.827em;
}


h2 {
  font-size: 1.999em;
  margin-top: 1.414em;
  margin-bottom: 1.414em;
}

h3 {
  font-size: 1.414em;
}

p {

}

a {

}





/*------------------------------------*\
  #SHARED
\*------------------------------------*/

.section-break {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vw;
}

.content-header {
  position: relative;
  background: #9d9d9d;
  padding: 100px 0 40px;
}

@media only screen and (min-width: 768px) {
  .content-header {
    padding-bottom: 60px;
  }
}

.content-header-title {
  color: #fff;
}

.content-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-section-dark {
  background: var(--black-color);
  color: #fff;
}

.content-callout {
  font-size: 1.414em;
  color: var(--dark-red-color);
  margin-bottom: 2em;
}

.content-callout-secondary:last-child {
  padding-bottom: 40px;
}

.content-section-title {
  margin-top: 1em;
  margin-bottom: 2em;
}

.content-section-half {
  margin-bottom: 60px;
}





/*------------------------------------*\
  #HELPER
\*------------------------------------*/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* FORMS */

/* BUTTONS */

.button {
  display: inline-block;
  text-transform: uppercase;
  border: 0;
  font-size: 1.414em;
  padding: 8px 16px;
  transition: all 0.5s ease-in;
}

.button:hover {
  text-decoration: none;
}

.button-primary {
  background: var(--red-color);
  color: #fff;
}

.button-secondary {
  background: var(--yellow-color);
  color: var(--black-color);
}

.button-tertiary {
  background: var(--black-color);
  color: #fff;
}

/* ICONS */





/*------------------------------------*\
  #MODULES
\*------------------------------------*/

/* FLEXBOX */

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-half,
.flex-third,
.flex-two-thirds,
.flex-fourth,
.flex-fourth-full {
  flex: 1 0 100%;
}

.flex-image {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .flex-half {
    flex: 0 0 48%;
    width: 48%;
  }
  .flex-third {
    flex: 0 0 30.66%;
    width: 30.66%;
  }
  .flex-two-thirds {
    flex: 0 0 65.33%;
    width: 65.33%;
  }
  .flex-fourth {
    flex: 0 0 22%;
    width: 22%;
  }
  .flex-fourth-full {
    flex: 0 0 25%;
    width: 25%;
  }
}

/* NAVIGATION */

header {
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.nav-logo {
  width: 140px;
  height: 74px;
}

@media only screen and (min-width:768px) {
  .nav-logo {
    width: 280px;
    height: 148px;
  }
}

.nav-links {
  list-style-type: none;
  margin-left: auto;
}

.nav-links li {
  display: none;
}

.nav-links a {
  color: #fff;
}

.nav-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 26px;
  cursor: pointer;
  top: 2em;
  right: 2em;
}

.nav-bar,
.nav-bar:after,
.nav-bar:before {
  width: 30px;
  height: 3px;
}

.nav-bar {
  position: relative;
  transform: translateY(10px);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;
}
  
.nav-icon.nav-close .nav-bar {
  background: rgba(255, 255, 255, 0); 
}

.nav-bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-icon.nav-close .nav-bar:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.nav-icon.nav-close .nav-bar:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.nav-icon.nav-close {
  z-index: 3;
}

.nav-links.nav-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: var(--black-color);
  margin: 0;
  padding: 0;
  opacity: 0.9;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  animation-name: slideInDown;
  animation-duration: 0.6s;
}

.nav-links.nav-open li {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid  #fff;
  text-align: center;
}

.nav-links.nav-open li:nth-child(1) {
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .nav-links li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
  }

  .nav-links-focus {
    border: 2px solid #fff;
  }

  .nav-links a {
    color: #fff;
  }
}

/* HOMEPAGE: HEADER */

.homepage-header {
  position: relative;
  background: #9d9d9d;
  background: url(../img/homepage-header-estimate-mob.jpg) center center/cover;
  padding: 180px 0 40px;
}

@media only screen and (min-width: 768px) {
  .homepage-header {
    background: url(../img/homepage-header-estimate.jpg) left bottom/cover;
    padding-bottom: 180px;
  }
}

.homepage-header-item {
  margin-bottom: 100px;
}

.homepage-header-title {
  color: var(--yellow-color);
}

.homepage-header-subtitle {
  color: #fff;
  font-weight: 300;
  font-size: 1.414em;
}

/* HOMEPAGE: ABOUT */

.about {
  position: relative;
  min-height: 425px;
}

.about-title {
  text-align: center;
  position: relative;
}

.about-title:before {
  position: absolute;
  top: 0.83em;
  left: 19%;
  content: '';
  display: block;
  height: 2px;
  width: 25%;
  background-color: #B5B5B5;
}

.about-title:after {
  position: absolute;
  top: 0.83em;
  left: 56%;
  content: '';
  display: block;
  height: 2px;
  width: 25%;
  background-color: #B5B5B5;
}

.about-us-photo {
  height: 425px;
  margin: 0 0 20px;
  background: url(../img/owners.jpg) no-repeat center center/cover;
}

.about-img {
  z-index: 1;
}

.about-logos {
  height: 65px;
  display: inline-block;
  -moz-box-shadow: 0px 1px 3px 0px #000;
  -webkit-box-shadow: 0px 1px 3px 0px #000;
  box-shadow: 0px 1px 3px 0px #000;
  margin: 0;
}

.about-logos:nth-of-type(2) {
  margin-left: 10px;
}

.about-us-text {
  margin: 0 0 40px 0;
}

.about-us-break {
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .about-us-photo {
    margin: 0 20px 0 0;
  }
  
  .about-logos {
    margin-bottom: 10px;
  }
  
  .about-us-text {
  margin: 0 0 40px 20px;
  }
  
}

/* HOMEPAGE: SERVICES */

.services {
  background: var(--black-color);
}

.services-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.services h2,
.services h3 {
  color: #fff;
}

.services h2 {
  margin-top: 0;
  align-self: flex-end;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-item {
  margin-top: 20px;
  padding: 20px 20px;
  height: 190px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: .9em;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .services-item {
    flex-basis: 24%;
  }
}

.services-item:nth-of-type(1) {
  background: url(../img/estimates.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(2) {
  background: url(../img/collision-repair.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(3) {
  background: url(../img/insurance-claims.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(4) {
  background: url(../img/dent-repair.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(5) {
  background: url(../img/mechanical.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(6) {
  background: url(../img/lifetime-warranty.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(7) {
  background: url(../img/towing.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(8) {
  background: url(../img/car-rental.jpg) no-repeat center center/cover;
}

.services-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}

.services-item h3,
.services-item a {
  z-index: 1;
}

.services-button {
  width: 70%;
  font-size: .9em;
  opacity: 0;
  height: 0;
  padding: 0;
  transition: padding 0.5s, height 0.5s, opacity 0.5s;
}

.services-item:hover .services-button {
  height: auto;
  opacity: 1;
  padding: 8px 5px;
}

.services-certifications {
  background: #fff;
  padding: 5px 5px;
}

.certifications-icon {
  height: 75px;
  padding: 5px 0;
}

@media only screen and (min-width: 768px) {
  .certifications-icon {
    height: 100px;
  }
}

.certifications-button{
  margin: 40px 0;
}

/* HOMEPAGE: LOCATIONS */

.locations {
}

.locations-map {
  position: relative;
  width: 100%;
  padding-bottom: 50vh;
  height: 0;
  overflow: hidden;
  margin-bottom: -50px;
}

@media only screen and (min-width: 768px) {
  .locations-map {
    padding-bottom: 25%;
  }
}

.locations-map iframe {
position: absolute;
top: -50px;
left: 0;
width: 100% !important;
height: 100% !important;
}

.locations-title {
  text-align: center;
}

.locations-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.locations-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.locations-item:nth-child(1) {
  background: var(--yellow-color);
}

.locations-item:nth-child(2) {
  background: var(--light-orange-color);
}

.locations-item:nth-child(3) {
  background: var(--dark-orange-color);
}

.locations-item:nth-child(4) {
  background: var(--red-color);
}

.locations-icon {
  width: 60px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.locations-item-title {
  margin: 0;
}

.locations-button {
  margin-bottom: 20px;
}

/* HOMEPAGE: REVIEWS */

.reviews {
  position: relative;
  background: var(--black-color);
  padding: 1em 0;
}

.reviews-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.reviews-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.reviews-title {
  color: #fff;
  margin-bottom: 1.5em;
  align-self: flex-start;
}

.reviews-item {
  display: block;
  background: #fff;
  position: relative;
  border: 1px solid var(--light-gray-color);
  margin-bottom: 40px;
  padding: 1em;
}

.reviews-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: 10px;
}

/* HOMEPAGE: ESTIMATE */

.estimate {
  position: relative;
  padding: 6vw 0 0;
  color: #fff;
  background: url(../img/homepage-estimate-background.jpg) center center/cover;
}

.estimate-break {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6vw;
}

.estimate-title {
  color: #fff;
}

@media only screen and (min-width:768px) {
  .estimate-title {
    text-align: right;
  }
}

.estimate-item {
  z-index: 2;
}

/* ABOUT US */

.about-header {
  background: url(../img/homepage-header-estimate-mob.jpg) center center/cover;
}

@media only screen and (min-width: 768px) {
  .about-header {
    background: url(../img/homepage-header-estimate.jpg) left bottom/cover;
  }
}

.about-headshot {
  padding-bottom: 40px;
}

.about-services-subtitle {
  margin-top: 0;
  background: var(--yellow-color);
  padding: 5px;
  color: var(--black-color);
}

.about-service-item:nth-child(odd) {
  margin-bottom: 40px;
}

.about-service-item:nth-child(even) {
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .about-service-item:nth-child(odd) {
    margin-bottom: 60px;
  }
  .about-service-item:nth-child(1) { order: 1; }
  .about-service-item:nth-child(2) { order: 0; }
  .about-service-item:nth-child(3) { order: 2; }
  .about-service-item:nth-child(4) { order: 3; }
  .about-service-item:nth-child(5) { order: 5; }
  .about-service-item:nth-child(6) { order: 4; }
  .about-service-item:nth-child(7) { order: 6; }
  .about-service-item:nth-child(8) { order: 7; }
  .about-service-item:nth-child(9) { order: 9; }
  .about-service-item:nth-child(10) { order: 8; }
  .about-service-item:nth-child(11) { order: 10; }
  .about-service-item:nth-child(12) { order: 11; }
  .about-service-item:nth-child(13) { order: 13; }
  .about-service-item:nth-child(14) { order: 12; }
  .about-service-item:nth-child(15) { order: 14; }
  .about-service-item:nth-child(16) { order: 15; }
}

/* LOCATIONS */

.location-section {
  padding-bottom: 0;
}

/* FAQ */

.faq-list {
  margin-top: 0;
  color: var(--dark-gray-color);
  margin-bottom: 1.999em;
}

.faq-list a {
  color: var(--dark-gray-color);
}

.faq-question {
  font-weight: bold;
  margin-top: 1.999em;
}

/* CONTACT */

.contact-form {
  display: flex;
  flex-flow: column nowrap;
}

.contact-form-margin {
  margin-top: 20px;
}

.contact-form-field {
  padding: 8px 16px;
}

.contact-card {
  box-shadow: 0px 0px 20px 0px rgba(197,197,197,0.8);
  padding: 20px;
}

.contact-icon {
  width: 30px;
  height: 30px;
}

.contact-subtitle {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: -1em;
}