* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000;
}


h1 {
	font-size: 3em;
	color: #ffcd2b;
	font-weight: 400;
	margin-bottom: 0.2em;
}

h2 {	
	font-family: 'Russo One', sans-serif;
}

h3 {
	font-size: 1.2em;
}

header {
	background: url('../img/background.jpg') center center/cover;
}

.logo img {
	width: 280px;
	height: 148px;
	margin: 50px auto 0;

}

nav {
	text-align: right;
	padding-right: 20px;
}

nav ul {
	list-style: none;

}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #fff;
	font-size: 1.2em;
	padding-left: 20px;
	font-weight: bold;
}

nav ul li a:hover {
	color: #fff;
}

.find-location {
	text-align: center;
	padding: 20px 20px 100px;
}

.find-location p {
	color: #fff;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 1.4em;
}

.location-button {
	background: #ed1b24;
	padding: 15px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	text-decoration: none;
}

.location-button:hover, .location-button:focus {
	background: #c6121f;
	color: #fff;
	text-decoration: none;
}

.location-button:visited {
	color: #fff;
	text-decoration: none;
}

/* Modal Window */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	opacity: 0;
	z-index: -1;
}

.overlay-transition {
	transition: opacity 500ms;
	opacity: 1;
	z-index: 2;
}

.overlay-close {
	opacity: 0;
	z-index: -1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 90%;
	max-width: 940px;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #000000;
	padding: 0;
}

.popup .location-block .link {
	padding: 5px 20px;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #ed1b24;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}

.section {
	padding: 30px;
}

.section h2 {
	text-align: center;
	font-size: 1.5em;
}

.img-responsive {
	margin-top: 1em;
}

.about-us {
	background: #fff;
	position: relative;
	padding-bottom: 75px;
  	z-index: 1;
}

.about-us:before, .services:before, .locations:before, .about-us:after, .services:after {
	background: inherit;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
}

.about-us:before, .services:before, .locations:before {
	height: 50%;
	z-index: -1;
	top: 0;
    transform: skewY(-1.7deg);
    transform-origin: 0;
}


.about-us:after, .services:after {
	bottom: -10px;
	background: #ed1b24;
    transform: skewY(-2.1deg);
    transform-origin: 0;
    height: 18px;
    z-index: -2;
}

.about-us h2, .services h2, .locations h2 {
	margin-top: 0em;
}

.about-us .row div, .services .row div {
	padding: 0 15px;
}

.services {
	background: #ffcd2b;
	padding-bottom: 75px;
	position: relative;
  	z-index: 1;
}

.locations {
	background: #000;
	position: relative;
  	z-index: 1;
}

.locations h2 {
	color: #fff;
}

.location-block {
	margin: 20px;
	text-align: center;
	color: #fff;
}

.location-block .link {
	padding: 60px 25px;
}

.location-block a {
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}

.location-block a:hover {
	color: #ffcd2b;
	font-size: 1.2em;
	text-decoration: none;
}

.location-block h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 0;
}

.location-block p {
	margin-top: 0;
	font-size: 1.2em;
	font-weight: 300;
}

.allentown {
	background: url('../img/allentown.jpg') no-repeat center center/cover;
}

.quakertown {
	background: url('../img/quakertown.jpg') no-repeat center center/cover;
}

.easton {
	background: url('../img/easton.jpg') no-repeat center center/cover;
}

.stroudsburg {
	background: url('../img/stroudsburg.jpg') no-repeat center center/cover;
}

.affiliations {
	padding: 15px 0 30px;
}

.affiliations h3 {
	text-align: center;
	color: #000;
}

.certifications {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.certifications img {
	width: auto;
	height: 60px;
	padding: 5px 2px;
}

footer {
	color: #fff;
	text-align: right;
	padding: 10px 20px 0;
}

@media (min-width: 768px) {

nav {
	padding-right: 0;
}

.logo img {
	position: absolute;
	top: 16px;
	margin: 0;

}

.find-location {
	text-align: right;
	width: 60%;
	margin-left: 40%;
	padding: 60px 0 150px;
}

.overlay {
	position: fixed;

}

.about-us:after, .services:after {
    height: 20px;
}

.location-block .link, .popup .location-block .link {
	padding: 80px 10px 0;
	height: 264px;
}

.location-block h3 {
	margin-top: 24px;
}

.certifications img {
	height: 75px;
}

}

@media (min-width: 992px) {

.logo img {
	width: 360px;
	height: 191px;
}

h1 {
	font-size: 4em;
}

.section h2 {
	font-size: 2em;
}

.find-location p {
	font-size: 2em;
}

}

@media (min-width: 1200px) {

.about-us:after, .services:after {
	transform: skewY(-2deg);
}

}