/* TABLE OF CONTENTS 
 *
 * GLOBAL............Globally available and shared variables.
 *
 * TYPOGRAPHY........font faces, weights, line heights, sizes, styles for headings and body text.
 * 
 * MODULES...........styles that manage page layouts and segments, including grids.
 * 
 *
 * COMPONENTS
 * Forms.............styles for form controls and labels.
 * Buttons...........styles for primary, secondary, etc. buttons.
 * Icons.............styles for icons.
 *
 */





/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  box-sizing: border-box;
}

:root {
  --black-color: #060709;
  --red-color: #ed1b24;
  --yellow-color: #ffcd2e;
}

.wrapper {
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-break {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vw;
}




/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.827em;
}


h2 {
  font-size: 1.999em;
}

h3 {
  font-size: 1.414em;
}

p {

}

a {

}





/*------------------------------------*\
  #MODULES
\*------------------------------------*/

/* FLEXBOX */

.flex-horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-half,
.flex-fourth {
  flex: 1 0 100%;
}

@media only screen and (min-width: 768px) {
  .flex-half {
    flex: 1 0 47%;
    width: 47%;
  }
  .flex-fourth {
    flex: 0 0 24%;
    width: 24%;
  }
}

/* NAVIGATION */

header {
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.nav-logo {
  width: 280px;
  height: 148px;
}

.nav-links {
  list-style-type: none;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }

  .nav-links li {
    display: inline-block;
  }

  .nav-links a {
    color: #fff;
  }
}

/* HEADER */

.homepage-header {
  position: relative;
  background: #9d9d9d;
  padding-top: 180px;
  padding-bottom: 60px;
}

/* ABOUT */

.about {
  position: relative;
}

/* SERVICES */

.services {
  background: var(--black-color);
}

.services h2{
  text-align: right;
  color: #fff;
}

.services-list{
	margin: 0;
	padding: 0;
}

.services-item{
	margin-top: 20px;
	padding: 20px 40px;
	height: 190px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: .9em;
  position: relative;
}

.services-item:nth-of-type(1) {
	background: url(../img/estimates.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(2) {
	background: url(../img/collision-repair.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(3) {
	background: url(../img/insurance-claims.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(4) {
	background: url(../img/dent-repair.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(5) {
	background: url(../img/mechanical.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(6) {
	background: url(../img/lifetime-warranty.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(7) {
	background: url(../img/towing.jpg) no-repeat center center/cover;
}

.services-item:nth-of-type(8) {
	background: url(../img/car-rental.jpg) no-repeat center center/cover;
}

.services-overlay{
	position: absolute;
	top: 0;
  right: 0;
  left: 0;
 	bottom: 0;
	background: rgba(0,0,0,0.4);
}

.services-item h3,
.services-item a{
  z-index: 1;
}

.services-button{
  width: 60%;
  font-size: .8em;
  opacity: 0;
  height: 0;
  transition: height .1s ease-out, opacity .5s ease-out;
}

.services-item:hover .services-button{
  height: auto;
  padding: 5px;
  opacity: 1;
}

/* LOCATIONS */

.locations {
}

/* REVIEWS */

.reviews {
  position: relative;
  background: var(--black-color);
}

/* ESTIMATE */

.estimate {
  position: relative;
  background: #cc0000;
}





/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* FORMS */

/* BUTTONS */

/* ICONS */